/* styles.css (or styles.scss) */



.container {
    /* max-width: 900px; */
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    margin-top: 40px;
    color: #333;
  }
  
  .item-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  
  .item-description {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .item-description h3 {
    margin-top: 10px;
    color: #333;
  }
  
  .item-description p {
    margin-top: 10px;
    color: #777;
  }
  
  .item-description a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .item-description a:hover {
    background-color: #45a049;
  }
  .card{
    padding:0;
    
  }
  

  /* Saksham */

  .product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: bisque;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
  
  }
  
  .product {
    
    text-align: center;
    color: brown;
    padding: 20px;
    margin: 10px;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    color: #000000;
    
  }
  .product button {
    background-color: #45a049; 
    color: #ffffff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product button:hover {
    background-color: #4d704e; 
  }
   
  .product h2,
  .product p,
  .product button {
  margin: 0;
  }
  
  