<!-- 
<div class="product-container">
    <div class="product-card" *ngFor="let product of products">
      <div class="product-image">
        
        <img src="product.imageUrl" alt="Product Image">
      </div>
      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <p class="description">{{ product.description }}</p>
        <p class="price">Price: {{ product.price | currency }}</p>
        <button class="categorybtn" (click)="goToCategory(product.id)">Go to Category</button>

      </div>
    </div>
  -->
<div class="addCategoryButton">  <button *ngIf="admin" (click)="addCategory()" class="addCategory"> Add Categories</button>
</div>

    <div class="product-container">
      <div class="product-card" *ngFor="let product of products">
        <div class="product-image">
          <!-- Replace 'product.imageUrl' with the actual URL of the product image -->
          <!-- <img src="../../assets/1.jpg" alt="Product Image"> -->
        </div>
        <div class="product-details">
          <h3>{{ product.name }}</h3>
          <!-- <p class="description">{{ product.description }}</p>
          <p class="price"> {{ product.price | currency }}</p> -->
          <button class="go-to-category-btn" (click)="goToCategory(product.id)">Products</button>
          <button class="go-to-category-btn"  *ngIf="admin"  (click)="deleteCategory(product.id)">Delete</button>

        </div>
      </div>
    </div>

  <!-- product.component.html -->
