<div class="user-dashboard">
  <!-- User Detail Section -->
  <div class="user-detail" *ngFor="let users of user">
    <h2>User Details</h2>
    <p><strong>Name:</strong> {{ users.name }}</p>
    <p><strong>Email:</strong> {{ users.email }}</p>
    <!-- Add more user details as needed -->
  </div>

  <div *ngIf = "!admin">
  <!-- Order History Section -->
  <div class="order-history">
    <h2>Order History</h2>
    <table>
      <thead>
        <tr>
          <th>Order Name</th>
          <th>Price</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderHistory">
          <td>{{order.name}}</td>
          <td>{{ order.price}}</td>
          
        </tr>
       
      </tbody>
    </table>
    
  </div>
  </div>
  <div *ngIf = "admin" class="card-admin">
    <!-- Your component template (HTML) -->
<div class="categories changePointer" routerLink="/category/get" >
  <h2>Number of Categories</h2>
  <p>{{ details.category}}</p>
</div>

<div class="products changePointer" routerLink="/category/get">
  <h2>Number of Products</h2>
  <p>{{ details.product }}</p>
</div>

<div class="users changePointer" routerLink = "/allUsers">
  <h2>Number of Users</h2>
  <p>{{ details.user}}</p>
</div>

  </div>
</div>
 
